
h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  background-color: #4aaaa5;
  border-bottom: 3px solid #ddd;
} 


h2,
h3 {
  font-size: 22px;
}



h3, h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

.img-portfolio {
  width: 284px;
}

#work {
  position: absolute;
  color: #fff;
  text-align: center;
}

#work h3 {
  width: 100%;
  background-color: #4aaaa5;
  padding: 15px;
  bottom: 25px;
}